@use '../../asserts/styles/colors' as colors;

.sidebar {
  width: 100%;
  height: 100vh;;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: lighten(colors.$black, 8%);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 10px;

  .item {
    width: 100%;
    margin-top: .625rem;
    padding: 1em 2em;

    border-radius: 10px;
    border-right: 4px solid transparent;

    background: lighten(colors.$black, 12%);
    color: colors.$white-gray;
    font-size: 1rem;

    cursor: pointer;

    transition: border-right, background .3s;

    &.active {
      border-right: 3px solid colors.$orange;
    }

    &:hover {
      background: lighten(colors.$black, $amount: 16%);
    }
  }

}

@media (max-width: 1300px) {
  .sidebar {
    transform: translateX(-100%);

    transition: transform .5s;

    &.open {
      transform: translateX(0);
    }
  }

  
}