@use '../../asserts/styles/colors' as colors;

.container {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;

  background: lighten(colors.$black, 2%);
  border-radius: 10px;

  padding: 20px;
}

.content {
  margin-left: 300px;
  padding-top: 20px;
}

.hamburger {
  display: none;
  
  position: fixed;
  top: 10px;
  left: 250px;
  z-index: 150;

  transition: transform .3s;
  &.close {
    transform: translateX(-240px);
  }

}

@media (max-width: 1500px) {
  .container {
    padding: 0;
    padding-top: 10px;
  }

  .content {
    padding-top: 0;
  }

}

@media (max-width: 1300px) {
  .content {
    margin: 0;
  }

  .hamburger {
    display: inline-block;
  }
}